In [1]:
import pandas as pd



DATASET_PATH = './dataset/Combined.csv'

In [10]:
df = pd.read_csv(DATASET_PATH, dtype={'Proto': 'str', 'sDSb': 'str', 'dDSb': 'str', 'Cause': 'str', 'State': 'str', 'Label': 'str', 'Attack Type': 'str', 'Attack Tool': 'str'})

df.head()

,Unnamed: 0,Seq,Dur,RunTime,Mean,Sum,Min,Max,Proto,sTos,...,sVid,dVid,SrcTCPBase,DstTCPBase,TcpRtt,SynAck,AckDat,Label,Attack Type,Attack Tool
0,0,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
1,1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
2,2,3,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,udp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
3,3,4,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,udp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign
4,4,5,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,udp,0.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign,Benign,Benign

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215890 entries, 0 to 1215889
Data columns (total 52 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   1215890 non-null  int64
 1   Seq          1215890 non-null  int64
 2   Dur          1215890 non-null  float64
 3   RunTime      1215890 non-null  float64
 4   Mean         1215890 non-null  float64
 5   Sum          1215890 non-null  float64
 6   Min          1215890 non-null  float64
 7   Max          1215890 non-null  float64
 8   Proto        1215890 non-null  object
 9   sTos         1215676 non-null  float64
 10  dTos         272823 non-null   float64
 11  sDSb         1215676 non-null  object
 12  dDSb         272823 non-null   object
 13  sTtl         1215676 non-null  float64
 14  dTtl         272823 non-null   float64
 15  sHops        1215676 non-null  float64
 16  dHops        272823 non-null   float64
 17  Cause        1215890 non-null  object
 18  TotPkts      1215890 non-null  int64
 19  SrcPkts      1215890 non-null  int64
 20  DstPkts      1215890 non-null  int64
 21  TotBytes     1215890 non-null  int64
 22  SrcBytes     1215890 non-null  int64
 23  DstBytes     1215890 non-null  int64
 24  Offset       1215890 non-null  int64
 25  sMeanPktSz   1215890 non-null  float64
 26  dMeanPktSz   1215890 non-null  float64
 27  Load         1215890 non-null  float64
 28  SrcLoad      1215890 non-null  float64
 29  DstLoad      1215890 non-null  float64
 30  Loss         1215890 non-null  int64
 31  SrcLoss      1215890 non-null  int64
 32  DstLoss      1215890 non-null  int64
 33  pLoss        1215890 non-null  float64
 34  SrcGap       278671 non-null   float64
 35  DstGap       278671 non-null   float64
 36  Rate         1215890 non-null  float64
 37  SrcRate      1215890 non-null  float64
 38  DstRate      1215890 non-null  float64
 39  State        1215890 non-null  object
 40  SrcWin       242420 non-null   float64
 41  DstWin       177078 non-null   float64
 42  sVid         114571 non-null   float64
 43  dVid         2009 non-null     float64
 44  SrcTCPBase   278671 non-null   float64
 45  DstTCPBase   230047 non-null   float64
 46  TcpRtt       1215890 non-null  float64
 47  SynAck       1215890 non-null  float64
 48  AckDat       1215890 non-null  float64
 49  Label        1215890 non-null  object
 50  Attack Type  1215890 non-null  object
 51  Attack Tool  1215890 non-null  object
dtypes: float64(32), int64(12), object(8)
memory usage: 482.4+ MB

In [12]:
df.drop(columns=['Unnamed: 0', 'Seq', 'Attack Tool', 'Label'], inplace=True)
df.head()

,Dur,RunTime,Mean,Sum,Min,Max,Proto,sTos,dTos,sDSb,...,SrcWin,DstWin,sVid,dVid,SrcTCPBase,DstTCPBase,TcpRtt,SynAck,AckDat,Attack Type
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,NaN,cs0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,NaN,cs0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign
2,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,udp,0.0,0.0,cs0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign
3,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,udp,0.0,0.0,cs0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign
4,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,udp,0.0,0.0,cs0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,Benign

In [13]:
df['sDSb'].unique()

array(['cs0', 'af41', 'ef', 'af11', 'cs7', '4', nan, 'cs6', '39', '52',
       '54', 'cs4', 'af12'], dtype=object)

In [14]:
# df['sDSb'] = df['sDSb'].astype('category')
for col in df.columns:
    if df[col].isnull().sum() > (len(df) * 0.7):
        print("dropping", col, df[col].isnull().sum())
        df.drop(columns = [col], inplace=True)
df.head()

dropping dTos 943067
dropping dDSb 943067
dropping dTtl 943067
dropping dHops 943067
dropping SrcGap 937219
dropping DstGap 937219
dropping SrcWin 973470
dropping DstWin 1038812
dropping sVid 1101319
dropping dVid 1213881
dropping SrcTCPBase 937219
dropping DstTCPBase 985843

,Dur,RunTime,Mean,Sum,Min,Max,Proto,sTos,sDSb,sTtl,...,DstLoss,pLoss,Rate,SrcRate,DstRate,State,TcpRtt,SynAck,AckDat,Attack Type
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,cs0,58.0,...,0,0.0,0.000000,0.000000,0.000000,ECO,0.0,0.0,0.0,Benign
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,icmp,0.0,cs0,58.0,...,0,0.0,0.000000,0.000000,0.000000,ECO,0.0,0.0,0.0,Benign
2,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,udp,0.0,cs0,117.0,...,0,0.0,42.616875,39.015450,3.401347,CON,0.0,0.0,0.0,Benign
3,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,udp,0.0,cs0,117.0,...,0,0.0,36.614376,32.412727,4.001571,CON,0.0,0.0,0.0,Benign
4,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,udp,0.0,cs0,117.0,...,0,0.0,44.404858,40.604443,3.600394,CON,0.0,0.0,0.0,Benign

In [15]:
# cleaning
print(df.dtypes)
for col in df.columns:
    if df.dtypes[col] == "object":
        print('object', col)
        df[col].fillna("NA", inplace=True)
    else:
        print('else', col)
        df[col].fillna(0, inplace=True)

df.info()

Dur            float64
RunTime        float64
Mean           float64
Sum            float64
Min            float64
Max            float64
Proto           object
sTos           float64
sDSb            object
sTtl           float64
sHops          float64
Cause           object
TotPkts          int64
SrcPkts          int64
DstPkts          int64
TotBytes         int64
SrcBytes         int64
DstBytes         int64
Offset           int64
sMeanPktSz     float64
dMeanPktSz     float64
Load           float64
SrcLoad        float64
DstLoad        float64
Loss             int64
SrcLoss          int64
DstLoss          int64
pLoss          float64
Rate           float64
SrcRate        float64
DstRate        float64
State           object
TcpRtt         float64
SynAck         float64
AckDat         float64
Attack Type     object
dtype: object
else Dur
else RunTime
else Mean
else Sum
else Min
else Max
object Proto
else sTos
object sDSb
else sTtl
else sHops
object Cause
else TotPkts
else SrcPkts
else DstPkts
else TotBytes
else SrcBytes
else DstBytes
else Offset
else sMeanPktSz
else dMeanPktSz
else Load
else SrcLoad
else DstLoad
else Loss
else SrcLoss
else DstLoss
else pLoss
else Rate
else SrcRate
else DstRate
object State
else TcpRtt
else SynAck
else AckDat
object Attack Type
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215890 entries, 0 to 1215889
Data columns (total 36 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Dur          1215890 non-null  float64
 1   RunTime      1215890 non-null  float64
 2   Mean         1215890 non-null  float64
 3   Sum          1215890 non-null  float64
 4   Min          1215890 non-null  float64
 5   Max          1215890 non-null  float64
 6   Proto        1215890 non-null  object
 7   sTos         1215890 non-null  float64
 8   sDSb         1215890 non-null  object
 9   sTtl         1215890 non-null  float64
 10  sHops        1215890 non-null  float64
 11  Cause        1215890 non-null  object
 12  TotPkts      1215890 non-null  int64
 13  SrcPkts      1215890 non-null  int64
 14  DstPkts      1215890 non-null  int64
 15  TotBytes     1215890 non-null  int64
 16  SrcBytes     1215890 non-null  int64
 17  DstBytes     1215890 non-null  int64
 18  Offset       1215890 non-null  int64
 19  sMeanPktSz   1215890 non-null  float64
 20  dMeanPktSz   1215890 non-null  float64
 21  Load         1215890 non-null  float64
 22  SrcLoad      1215890 non-null  float64
 23  DstLoad      1215890 non-null  float64
 24  Loss         1215890 non-null  int64
 25  SrcLoss      1215890 non-null  int64
 26  DstLoss      1215890 non-null  int64
 27  pLoss        1215890 non-null  float64
 28  Rate         1215890 non-null  float64
 29  SrcRate      1215890 non-null  float64
 30  DstRate      1215890 non-null  float64
 31  State        1215890 non-null  object
 32  TcpRtt       1215890 non-null  float64
 33  SynAck       1215890 non-null  float64
 34  AckDat       1215890 non-null  float64
 35  Attack Type  1215890 non-null  object
dtypes: float64(21), int64(10), object(5)
memory usage: 334.0+ MB

In [16]:
# Label encoding
from sklearn.preprocessing import LabelEncoder

for col in df.columns:
    if df.dtypes[col] == "object":
        df[col] = LabelEncoder().fit_transform(df[col])
        df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215890 entries, 0 to 1215889
Data columns (total 36 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Dur          1215890 non-null  float64
 1   RunTime      1215890 non-null  float64
 2   Mean         1215890 non-null  float64
 3   Sum          1215890 non-null  float64
 4   Min          1215890 non-null  float64
 5   Max          1215890 non-null  float64
 6   Proto        1215890 non-null  category
 7   sTos         1215890 non-null  float64
 8   sDSb         1215890 non-null  category
 9   sTtl         1215890 non-null  float64
 10  sHops        1215890 non-null  float64
 11  Cause        1215890 non-null  category
 12  TotPkts      1215890 non-null  int64
 13  SrcPkts      1215890 non-null  int64
 14  DstPkts      1215890 non-null  int64
 15  TotBytes     1215890 non-null  int64
 16  SrcBytes     1215890 non-null  int64
 17  DstBytes     1215890 non-null  int64
 18  Offset       1215890 non-null  int64
 19  sMeanPktSz   1215890 non-null  float64
 20  dMeanPktSz   1215890 non-null  float64
 21  Load         1215890 non-null  float64
 22  SrcLoad      1215890 non-null  float64
 23  DstLoad      1215890 non-null  float64
 24  Loss         1215890 non-null  int64
 25  SrcLoss      1215890 non-null  int64
 26  DstLoss      1215890 non-null  int64
 27  pLoss        1215890 non-null  float64
 28  Rate         1215890 non-null  float64
 29  SrcRate      1215890 non-null  float64
 30  DstRate      1215890 non-null  float64
 31  State        1215890 non-null  category
 32  TcpRtt       1215890 non-null  float64
 33  SynAck       1215890 non-null  float64
 34  AckDat       1215890 non-null  float64
 35  Attack Type  1215890 non-null  category
dtypes: category(5), float64(21), int64(10)
memory usage: 293.4 MB

In [17]:
df.head()

,Dur,RunTime,Mean,Sum,Min,Max,Proto,sTos,sDSb,sTtl,...,DstLoss,pLoss,Rate,SrcRate,DstRate,State,TcpRtt,SynAck,AckDat,Attack Type
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0.0,8,58.0,...,0,0.0,0.000000,0.000000,0.000000,2,0.0,0.0,0.0,0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0.0,8,58.0,...,0,0.0,0.000000,0.000000,0.000000,2,0.0,0.0,0.0,0
2,4.998020,4.998020,4.998020,4.998020,4.998020,4.998020,7,0.0,8,117.0,...,0,0.0,42.616875,39.015450,3.401347,1,0.0,0.0,0.0,0
3,4.998037,4.998037,4.998037,4.998037,4.998037,4.998037,7,0.0,8,117.0,...,0,0.0,36.614376,32.412727,4.001571,1,0.0,0.0,0.0,0
4,4.999453,4.999453,4.999453,4.999453,4.999453,4.999453,7,0.0,8,117.0,...,0,0.0,44.404858,40.604443,3.600394,1,0.0,0.0,0.0,0

In [ ]:
attacks = df['Attack Type'].unique()
attacks

In [ ]:
for label in attacks:
    n = len(df.loc[df['Attack Type'] == label])
    N = len(df)
    print(f'{label}: {n/N}')