# Dataset

In [20]:
import pandas as pd
import os

DATASET_PATH = './store/datasets/5GNIDD'

LABEL_COLUMN = 'Attack Type'

In [3]:
# Charger le dataset
df = pd.read_csv(DATASET_PATH)

,Seq,Dur,RunTime,Mean,Sum,Min,Max,sTos,sTtl,sHops,...,52,54,af11,af12,af41,cs0,cs4,cs6,cs7,ef
0,6336,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,46.0,18.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,6337,0.001829,0.001829,0.001829,0.001829,0.001829,0.001829,0.0,48.0,16.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,6338,0.001830,0.001830,0.001830,0.001830,0.001830,0.001830,0.0,52.0,12.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,6341,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,57.0,7.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,6342,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,57.0,7.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522550 entries, 0 to 522549
Data columns (total 81 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Seq          522550 non-null  int64
 1   Dur          522550 non-null  float64
 2   RunTime      522550 non-null  float64
 3   Mean         522550 non-null  float64
 4   Sum          522550 non-null  float64
 5   Min          522550 non-null  float64
 6   Max          522550 non-null  float64
 7   sTos         522550 non-null  float64
 8   sTtl         522550 non-null  float64
 9   sHops        522550 non-null  float64
 10  TotPkts      522550 non-null  int64
 11  SrcPkts      522550 non-null  int64
 12  DstPkts      522550 non-null  int64
 13  TotBytes     522550 non-null  int64
 14  SrcBytes     522550 non-null  int64
 15  DstBytes     522550 non-null  int64
 16  Offset       522550 non-null  int64
 17  sMeanPktSz   522550 non-null  float64
 18  dMeanPktSz   522550 non-null  float64
 19  Load         522550 non-null  float64
 20  SrcLoad      522550 non-null  float64
 21  DstLoad      522550 non-null  float64
 22  Loss         522550 non-null  int64
 23  SrcLoss      522550 non-null  int64
 24  DstLoss      522550 non-null  int64
 25  pLoss        522550 non-null  float64
 26  Rate         522550 non-null  float64
 27  SrcRate      522550 non-null  float64
 28  DstRate      522550 non-null  float64
 29  TcpRtt       522550 non-null  float64
 30  SynAck       522550 non-null  float64
 31  AckDat       522550 non-null  float64
 32  Attack Type  522550 non-null  object
 33   *           522550 non-null  float64
 34   *    V      522550 non-null  float64
 35   *    f      522550 non-null  float64
 36   e           522550 non-null  float64
 37   e    f      522550 non-null  float64
 38   e &         522550 non-null  float64
 39   e *         522550 non-null  float64
 40   e d         522550 non-null  float64
 41   e g         522550 non-null  float64
 42   e i         522550 non-null  float64
 43   e r         522550 non-null  float64
 44   e s         522550 non-null  float64
 45   eU          522550 non-null  float64
 46  e            522550 non-null  float64
 47  arp          522550 non-null  float64
 48  icmp         522550 non-null  float64
 49  ipv6-icmp    522550 non-null  float64
 50  llc          522550 non-null  float64
 51  lldp         522550 non-null  float64
 52  sctp         522550 non-null  float64
 53  tcp          522550 non-null  float64
 54  udp          522550 non-null  float64
 55  ACC          522550 non-null  float64
 56  CON          522550 non-null  float64
 57  ECO          522550 non-null  float64
 58  FIN          522550 non-null  float64
 59  INT          522550 non-null  float64
 60  NRS          522550 non-null  float64
 61  REQ          522550 non-null  float64
 62  RSP          522550 non-null  float64
 63  RST          522550 non-null  float64
 64  TST          522550 non-null  float64
 65  URP          522550 non-null  float64
 66  Shutdown     522550 non-null  float64
 67  Start        522550 non-null  float64
 68  Status       522550 non-null  float64
 69  39           522550 non-null  float64
 70  4            522550 non-null  float64
 71  52           522550 non-null  float64
 72  54           522550 non-null  float64
 73  af11         522550 non-null  float64
 74  af12         522550 non-null  float64
 75  af41         522550 non-null  float64
 76  cs0          522550 non-null  float64
 77  cs4          522550 non-null  float64
 78  cs6          522550 non-null  float64
 79  cs7          522550 non-null  float64
 80  ef           522550 non-null  float64
dtypes: float64(69), int64(11), object(1)
memory usage: 322.9+ MB

In [11]:
# Poucentage des classes
def calc_percentage_classes(df):
    return df[LABEL_COLUMN].value_counts(normalize=True)*100

calc_percentage_classes(df)

Attack Type
Benign            286502
SlowrateDoS        73124
HTTPFlood          56325
UDPFlood           45734
TCPConnectScan     20052
UDPScan            15906
SYNScan            14031
SYNFlood            9721
ICMPFlood           1155
Name: count, dtype: int64

# Tests

# Tester la partie du CIL

In [ ]:
python3 main.py 
        --experiment 5GNIDD 
        --scenario class --replay buffer --contexts 8  --structure 3 
        --fc-layers 4 --fc-units 300 
        --iters 5

# Tester la partie CIL+FL

In [ ]:
python3 main.py 
        # CIL
        --experiment 5GNIDD 
        --scenario class --replay buffer --contexts 8  --structure 3 
        --fc-layers 4 --fc-units 300 
        --iters 5 
        # FL
        --fl 
        --fl-num-clients 3  
        --fl-global-iters 2  
        --fl-iid  
        --fl-frac 1

# Tester la partie CIL+FL+BC

In [ ]:
python3 main.py 
        # CIL
        --experiment 5GNIDD 
        --scenario class --replay buffer --contexts 8  --structure 3 
        --fc-layers 4 --fc-units 300 
        --iters 5  
        # BC
        --bc
        -bc-nd 7 -bc-ha 4,3,0 -bc-nm 2 
        -bc-max_ncomm 10
        -bc-vh 0.05 -bc-ko 2 
        --bc-cpu --bc-iid -bc-aio 1 -bc-pow 0 -bc-cs 0 --bc-cons poa